@media(min-width:992px) {
    .topCasaFina-banner {
    left: 0;
    transform: translate(0, -80%);
    width: 50%;
    }

    .topCasaFina-bannerWrapper {
        position: relative;
        height: 100%;
    }
}

